.thank-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    .company-logo {
        height: 110px;
        width: 350px;
        img {
            height: 110px;
            width: auto;
        }
        margin-right: 10px;
    }
    .thank-text {
        height: 140px;
        .text-1 {
            height: 60px;
            // background-color: aqua;
            font-size: 60px;
            padding: 10px;
        }
        .text-2 {
            height: 40px;
            // background-color: aquamarine;
            font-size: 40px;
            padding: 10px;
            color: rgb(133, 133, 133);
        }
    }
}