.home-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Myriadat';
  .home-page-header {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    img {
      width: 146px;
      height: 50px;
      margin-left: 30px;
    }
  }
  .home-page-body {
    display: flex;
    justify-content: center;
    font-family: 'Myriadat';
    .menu-bar {
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      width: 12vw;
      height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .nav-user-select {
        margin: 20px;
        display: flex;
        align-items: center;
        color: black !important;
      }
    }

    .layout-home {
      width: 88vw;
      height: auto;
    }
  }
}

@font-face {
  font-family: "ProductSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ProductSans-Regular"),
    url("../../assets/fonts/ProductSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Regular"),
    url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Myriadat";
  font-style: normal;
  font-weight: normal;
  src: local("Myriadat"),
    url("../../assets/fonts/MYRIADAT.woff") format("woff");
}

@font-face {
  font-family: "DefaultSans";
  font-style: normal;
  font-weight: normal;
  src: local("DefaultSans"),
    url("../../assets/fonts/DefaultSans-Regular.woff") format("woff");
}