.candidate-item-component {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 1px solid #eaeaec;
  margin: 2px 0;
  border-radius: 0.5rem;
  color: #001a48;
  .ids {
    width: 5%;
  }
  .name {
    width: 15%;
  }
  .email {
    width: 15%;
  }
  .create_at {
    width: 10%;
  }
  .update_at {
    width: 10%;
  }
  .challenge {
    width: 10%;
  }
  .resolved {
    width: 5%;
  }
  .point {
    width: 5%;
  }
  .phone {
    width: 10%;
  }
  .action {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        width: 5%;
        margin: 10px;
        font-size: 24px;
    }
  }
}

.candidate-writing {
  height: 400px;
  background-color: #c7dafa;
  margin: 10px;
  border-radius: 5px;
  .run-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 10px 0;
    .run-code-btn {
      margin-right: 10px;
      &:hover{
        color: white;
      }
    }
  }
  .response-message {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: red;
    border-radius: 5px;
    border: 1px solid #03a9f4;
    padding: 5px 15px;
  }
}