.title-1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;

  .home-search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    .search-input {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .create-btn {
      background-color: #43a047;
      border-radius: 5;
      border: 1px solid #bababa;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
.candidate-table {
  // margin: 0 30px;
  width: 100%;
  height: auto;
}
