.title-1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;

  .home-search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    .search-input {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .create-btn {
      background-color: #43a047;
      border-radius: 5;
      border: 1px solid #bababa;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
.candidate-table {
  height: 490px;
  overflow-x: hidden;
  text-align: center;
  padding: 0 30px 0 30px;
  .row {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #D9D9D9;
    height: 40px;
    border-radius: 5px;
    .ids {
      width: 5%;
    }
    .name {
      width: 15%;
    }
    .email {
      width: 15%;
    }
    .create_at {
      width: 10%;
    }
    .update_at {
      width: 10%;
    }
    .challenge {
      width: 10%;
    }
    .resolved {
      width: 5%;
    }
    .point {
      width: 5%;
    }
    .phone {
      width: 10%;
    }
    .action {
      width: 10%;
    }
  }
}
